ANTHROPIC_API_KEY=your_claude_api_key
TICKET_API_TOKEN=your_ticket_api_token
TELEGRAM_BOT_TOKEN=your_tg_bot_token
LANGFUSE_API_KEY=your_langfuse_key
PHABRICATOR_API_TOKEN=your_phabricator_api_token
VOC_AUTOMATION_ROOT=/Users/yin.wang/voc-automation
VOC_AUTOMATION_CONFIG=/Users/yin.wang/voc-automation/config/settings.json
